/*Styles for biosite2018*/

* {
    padding:0;
    margin:0;
    font-family: 400 'Muli', sans-serif;
}


html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    padding-bottom: 8rem;
    min-height: 100%;
    font-family: "Helvetica", sans-serif;
}

header {
    width: 100%;
    max-width: fit-content;
    display: block;
    margin: auto;
    margin-bottom: 2em;
    color: #707070;
}

header h2, ul, li {
    display: inline-block;
    margin: 1em;
}

header a {
    color: inherit;
    text-decoration: inherit;
}

header h1 {
    display: inline-block;
    background-color: #FF6476;
    padding: .35em;
    padding-top: .75em;
    color: white;
    font-weight: 600;
}

header h2 {
    padding-bottom: .2em;
    font-weight:600;
}

header ul {
    list-style-type: none;
}

header li {
    font-size: 1.15em;
    margin-bottom: .25em;
    padding-bottom: .41em;
}

header a:hover li {
    border-bottom: 8px #FF6476 solid;
}

figcaption {
    font-style: italic;
    font-size: .75em;
    text-align: right;
    color: #707070;
}

hr {
    padding-bottom: 1em;
}

/*borrowed from chris bracco https://chrisbracco.com/css-sticky-footer-effect/*/
footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
    font-size: .75em;
    color: #707070;
}

section {
    max-width: 95%;
}

.selected {
    border-bottom: 8px #FF6476 solid;
}

.content {
    width: 95%;
    max-width: 1000px;
    display: flex;
    margin: auto;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    /*background-color: red;*/
}

.content img {
    padding-right: 1em;
    margin-bottom: 1em;
}

.content h1 {
    width: 100%;
    margin: auto;
}

.content hr{
    width: 100%;
}

#intro h1 {
    text-align: left;
}

.project {
    width: 1000px;
    max-width: 95%;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.project h1 {
    color: white;
    padding: .5em 0;
    margin-top: -2em;
    font-size: 3em;
    text-transform: capitalize;
    font-weight:600;
    width: 100%;
}

.project h2 {
    font-weight:200;
    font-style: italic;
    padding-bottom: 1em;
    text-transform: capitalize;
    width: 100%;
}

.project h3 {
    font-weight: 400;
    font-size: 1em;
    font-style: italic;
    width: 100%;
    padding: .1em;
}

.project h3:last-of-type {
    padding-bottom: 1em;
}

/*.project p {*/
    /*padding: .5em 0;*/
/*}*/

.hero {
    width: 100%;
}

.copy {
    width: 500px;
    max-width: 95%;
    padding-right: 1em;
}

.copy p {
    padding: .5em 0;
}

.thumbs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 500px;
    max-width: 100%;
    padding-top: 7em;
}

.thumbs img {
    width: 250px;
    padding: .5em;
}

#intro {
    width: 100%;
    max-width: 850px;
}

#intro * {
    display: block;
    margin: auto;
    width: 375px;
    padding: .25em;
    max-width: 100%;
}

.projectThumb {
    display: block;
    margin: 1em auto;
    width: 450px;
    position: relative;
}

.projectThumb img {
    width: 100%;
    margin: auto;
    margin-top: 2em;
    padding: .5em;
}

.projectThumb h2 {
    position: absolute;
    left: .25em;
}


.projectThumb h3 {
    font-weight: 200;
    font-style: italic;
    position: absolute;
    right: .5em;
    top: .3em;
}

.biopic {
    width: 300px;
    padding-top: .5em;
}

@media only screen and (max-width: 1052px) {
    .thumbs {
        padding-top: 1em;
    }
}