/*Styles for biosite2018*/

* {
    padding:0;
    margin:0;
    font-family: 'Muli', sans-serif;
}


html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    padding-bottom: 8rem;
    min-height: 100%;
}

a {
    color: #FF6476;
}

a:hover {
    color: #DD001A;
}

header {
    width: 100%;
    max-width: fit-content;
    display: block;
    margin: auto;
    margin-bottom: 2em;
    color: #707070;
}

header h2, ul, li {
    display: inline-block;
    margin: 1em;
}

header a {
    color: inherit;
    text-decoration: inherit;
}

header h1 {
    display: inline-block;
    background-color: #FF6476;
    padding: .35em;
    padding-top: .75em;
    color: white;
    font-weight: 600;
}

header h2 {
    padding-bottom: .2em;
    font-weight:600;
}

header ul {
    list-style-type: none;
}

header li {
    font-size: 1.15em;
    margin-bottom: .25em;
    padding-bottom: .41em;
}

header a:hover {
    color: black;
}

header a:hover h1 {
    background-color: #DD001A;
}

header a:hover li {
    border-bottom: 8px #DD001A solid;
}

figcaption {
    /*font-style: italic;*/
    font-size: .75em;
    text-align: left;
    color: #707070;
    margin-left: .5em;
}

hr {
    margin-bottom: 1em;
}

form {
    background-color: #E0E0E0;
    padding: .75em;
    margin-top: 1em;
}

form div {
    padding: .5em 0;
    width: 100%;
}

form textarea {
    width: 100%;
    height: 10em;
    margin: .5em 0;
    padding: .5em;
    border: 0 none;
    display: inline-block;
}

form input {
    display: block;
    width: 100%;
    height: 2em;
    padding: .5em;
    border: 0 none;
}

form h1 {
    font-size: 1.25em;
}

form label {
    margin: .1em;
    font-weight: 200;
    font-size: .85em;
    display: inline-block;
    padding-bottom: .25em;
}

input[type=submit] {
    padding: .5em;
    background: #FF6476;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: .5em;
    border-radius: .5em;
    color: white;
    width: 7em;
    height: 3em;
    margin-bottom: .5em;
    font-weight: 400;
}

/*borrowed from chris bracco https://chrisbracco.com/css-sticky-footer-effect/*/
footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
    font-size: .75em;
    color: #707070;
}

section {
    max-width: 95%;
}

.selected {
    border-bottom: 8px #FF6476 solid;
}

.button {
    color: white;
    background-color: #FF6476;
    padding: .5em;
    display: inline-block;
    border-radius: 1em;
    -moz-border-radius: 1em;
    margin: 1em 0;
}

a:hover .button {
    background-color: #DD001A;
}

.content {
    width: 95%;
    max-width: 1000px;
    display: flex;
    margin: auto;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
}

/*.content img {*/
    /*padding-right: 1em;*/
    /*margin-bottom: 1em;*/
/*}*/

.content h1 {
    width: 100%;
    margin: auto;
}

#allProjects h1 {
    width: 94%;
    text-align: center;
    margin-bottom: .1em;
}

.content hr{
    width: 94%;
}

#intro h1 {
    text-align: left;
}

.project {
    width: 950px;
    max-width: 95%;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.project h1 {
    color: white;
    padding: .5em 0;
    margin-top: -2em;
    font-size: 3em;
    text-transform: capitalize;
    font-weight:600;
    width: 100%;
}

.project h2 {
    font-weight:200;
    text-transform: capitalize;
    width: 100%;
}

.project h3 {
    font-weight: 600;
    font-size: 1em;
    margin: 1.5em 0 .25em 0;
    border-width: 1px;
    color: black;
}

.project h3:first-of-type {
    margin: 0;
}

#hero {
    width: 100%;
}

#copy {
    width: 450px;
    max-width: 95%;
    /*padding-right: 2em;*/
    /*margin-right: 2em;*/
}

#copy p {
    margin: 0 0 .5;
}

#copy ul {
    margin: .5em 0 0 0;
    list-style-type: none;
}

#copy li {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    padding: 0;
    margin: auto;
    margin-bottom: 2em;
}

#copy li img {
    padding-right: 1em;
    padding-top: .25em;
    width: 120px;
}

.thumbs {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 460px;
    max-width: 100%;
    margin: 3em 0 0 2em;
    padding-left: 1.5em;
    border-style: none none none solid;
    border-width: 1px;
    border-color: #5e5e5e;
}

.thumbs img {
    width: 200px;
    height: 150px;
    margin: 1em .5em 0;
}

.thumbs h4 {
    width: 100%;
    margin-left: 1em;
    font-weight: 200;
    font-style: italic;
    font-size: .8em;
}

#intro {
    width: 100%;
    max-width: 850px;
}

#intro * {
    display: block;
    margin: auto;
    width: 375px;
    padding: .25em;
    max-width: 100%;
}

/* Work.html */
.projectThumb {
    display: block;
    margin: 1em auto;
    width: 450px;
    position: relative;
}

.projectThumb a:hover {
    border-bottom: 10px #FF6476 solid;
}

.projectThumb img {
    width: 100%;
    margin: auto;
    margin-top: 2em;
}

.projectThumb h2 {
    position: absolute;
    left: 0em;
}

.projectThumb h3 {
    font-weight: 200;
    font-style: italic;
    position: absolute;
    right: 0;
    top: .3em;
}

#wrong {
    display: none;
    margin: 3em;
    width: 1000px;
    text-align: center;
}

/* about.html */
.biopic {
    width: 300px;
    padding-top: .5em;
}

@media only screen and (max-width: 1052px) {
    .thumbs {
        padding-top: 1em;
    }
}