/*Styles for biosite2018*/

body {
    font-family: "Helvetica", sans-serif;
}

header {
    width: 100%;
    max-width: 1000px;
    display: block;
    margin: auto;
    margin-bottom: 2em;
}

header h2, ul, li {
    display: inline-block;
    margin: 1em;
}

header a {
    color: inherit;
    text-decoration: inherit;
}

header h1 {
    display: inline-block;
    background-color: salmon;
    padding: .35em;
    color: white;
}

header h2 {
    padding-bottom: .2em;
}

header ul {
    list-style-type: none;
}

header li {
    font-size: 1.25em;
    margin-bottom: .25em;
    padding: .25em;
}

header a:hover li {
    border-bottom: 8px salmon solid;
}

footer {
    background-color: #E0E0E0;
    text-align: right;
}

.selected {
    border-bottom: 8px salmon solid;
}

.content {
    width: 100%;
    max-width: 1000px;
    display: block;
    margin: auto;
    margin-bottom: 2em;
}